<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EngenixUpdateInstallerFTP.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <EngenixUpdateInstallerFTP.Properties.Settings>
            <setting name="FolderRoot" serializeAs="String">
                <value />
            </setting>
            <setting name="Folder401" serializeAs="String">
                <value />
            </setting>
            <setting name="Folder410" serializeAs="String">
                <value />
            </setting>
            <setting name="FTPUser" serializeAs="String">
                <value />
            </setting>
            <setting name="FTPPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="FTP401URL" serializeAs="String">
                <value />
            </setting>
            <setting name="FTP410URL" serializeAs="String">
                <value />
            </setting>
            <setting name="Folder411" serializeAs="String">
                <value />
            </setting>
            <setting name="FTP411URL" serializeAs="String">
                <value />
            </setting>
            <setting name="Folder420" serializeAs="String">
                <value />
            </setting>
            <setting name="FTP420URL" serializeAs="String">
                <value />
            </setting>
            <setting name="Folder500" serializeAs="String">
                <value />
            </setting>
            <setting name="FTP500URL" serializeAs="String">
                <value />
            </setting>
            <setting name="Folder510" serializeAs="String">
                <value />
            </setting>
            <setting name="FTP510URL" serializeAs="String">
                <value />
            </setting>
            <setting name="Folder520" serializeAs="String">
                <value />
            </setting>
            <setting name="FTP520URL" serializeAs="String">
                <value />
            </setting>
        </EngenixUpdateInstallerFTP.Properties.Settings>
    </userSettings>
</configuration>